.form-field {
  width: 20%;
  margin: auto;
}

.form-field input {
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
  padding: 1em;
  width: 100%;
  font-size: 1em;
  margin: 1em 0;
  background-color: #2a9d8f;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #168175;
}

.container {
  width: 90%;
  margin: auto;
}

.field {
  text-align: center;
  width: 20%;
  margin: auto;
}


.field button {
  padding: 1em;
  width: 100%;
  font-size: 1em;
  margin: 1em 0;
  background-color: #2090d1;
  color: white;
  border: none;
  cursor: pointer;
}

.field button:hover {
  background-color: #13699b;
}